<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Users</h1>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Role</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.surname}">...</td>
            <td th:utext="${user.age}">...</td>
            <td>
                <a th:each="role : ${user.getRoles()}"
                   th:text="${role.name} + ' '">
                </a>
            </td>
            <td>
                <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.id})}">
                    <input type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>
    <br/><br/>
    <form th:method="GET" th:action="@{/admin/new}">
        <input type="submit" value="Add new user"/>
    </form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>