<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <div>

        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br><br>
        <label for="surname">Surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <br><br>
        <label for="age">Age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br><br>
        <label for="username">Username: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <br><br>
        <label for="password">Password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <br><br>
        <select name="nameRoles" multiple size="2">
            <option th:each="role : ${roles}"
                    th:value="${role.name}"
                    th:text="${role.getName()}">
            </option>
        </select>
        <br><br>
        <input type="submit" value="Add user">
    </div>
</form>
<br><br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>